- title 'Log in'
%br
%fieldset#password_form
  - form_for :session, :url => session_path do |form|
    %dl.form
      %dt= form.label :email
      %dd= form.text_field :email
  
      %dt= form.label :password
      %dd= form.password_field :password
  
      %dd
        = form.check_box :remember_me
        = form.label :remember_me
  
      %dd.actions
        = form.submit "Log in", :disable_with => "Please wait..."
      %dd
        %p
        = link_to "Forgot password?", new_password_path

#teachers
  %h2 Teachers: Why Sign Up? 
  :textile 
    Sign up to create special URLs (web addresses) to give your students so they can explore the Drake Equation. You'll be able to see, and share, the class's results.
  :textile
    We don't collect student names or e-mail addresses, so you can have them print out and hand in their summary sheets to show they did it. You will be able to see how many students have completed the equation and summary of their answers.

  %p
    = link_to "Sign up now.", new_user_path
