-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- title 'Log in'

#teachers
  %h3 
    Teachers: 
    %em Why Sign Up? 
  %p
    Sign up to create special URLs (web addresses) to give your students so they can explore the Drake Equation. You'll be able to see, and share, the class's results.
  %p
    We don't collect student names or e-mail addresses, so you can have them print out and hand in their summary sheets to show they did it. You will be able to see how many students have completed the equation and summary of their answers.

  %p
    = link_to "Sign up now.", new_user_path

%p
  If you're a teacher and have already signed up&hellip;

%fieldset#password_form
  - form_for :session, :url => session_path do |form|
    %dl.form
      %dt= form.label :email
      %dd= form.text_field :email
  
      %dt= form.label :password
      %dd= form.password_field :password
  
      %dd
        = form.check_box :remember_me
        = form.label :remember_me
  
      %dd.actions
        = form.submit "Log in", :disable_with => "Please wait..."
      %dd
        %p
        = link_to "Forgot password?", new_password_path

