- title 'Log in'
%br
%table.content-table
  %col{:width => '45%'}
  %col{:width => '10%'}
  %col{:width => '45%'}
  %tr
    %td
      #password_form
        - form_for :session, :url => session_path do |form|
          %dl.form
            %dt= form.label :email
            %dd= form.text_field :email

            %dt= form.label :password
            %dd= form.password_field :password

            %dd
              = form.check_box :remember_me
              = form.label :remember_me

            %dd.actions
              = form.submit "Log in", :disable_with => "Please wait..."
            %dd
              = link_to "Forgot password?", new_password_path
      %br
      %br      
      #openid_form
        %p Or log in using OpenID&hellip;

        - form_tag(session_url) do
          .text_field
            = label_tag :openid_url, 'OpenID'
            = text_field_tag :openid_url, @openid_url
          .submit_field
            = submit_tag "Log in", :disable_with => "Please wait..."
    %td
    %td
      %h3 Teachers: Why Sign Up? 
      %p By registering for an account you will be able to create special URLs (web addresses) to give your students so they can explore the Drake Equation and you can see, and share, the class's results.
      %p We don't collect student names or e-mail addresses so you can have the print and hand in their summary sheets to show they did it. You will be able to see how many students have completed the equation and view a summary of their answers.
      %h2= link_to "Sign up now", new_user_path

