-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- my_account = (current_user == current_object)
- if my_account
  #account-menu
    %span#menu-items
      = link_to "Add class", new_survey_group_path
      |
      = link_to "Log out", '/logout'
  - title "My Classes"
- else
  - title "#{current_object.username}'s CLasses"

%br
  
- if current_object.survey_groups.empty?
  - if my_account
    %p
      %strong You have not set up any groups yet!
      = link_to 'Add your first group', new_survey_group_path
      to begin collecting responses from your students.    
      After you create a group, it will appear on your profile and your students will be able
      to submit responses as part of that group.
  - else
    %p
      = current_object.username
      has not set up any groups yet.


-else

  - if my_account
    %p
      Refer your students to 
      - url = url_for(:action => 'show', :id => current_user.pretty_url, :only_path => false)
      = link_to url, url
      to discover their value for <em>N</em> and to view the class' results.
  - else
    %p
      Find your group in the list below.
    
  %table
    %col{:width => 320}
    %col{:width => 60}
    %col{:width => 60}
    %col{:width => 60}
    %col{:width => 60}
    %col{:width => 320}
    %thead
      %tr
        %th Class
        %th Total
        %th Completed
        %th Incomplete
        %th Not Started
        %th
    %tbody
      - current_object.survey_groups.each do |g|
        %tr
          %th
            = link_to g.group_name, [g, :surveys]
            %br
            %small
              Ages
              = h g.age_group.description
          %td= g.num_students  
          %td= g.surveys.n_not_null.count
          %td= g.surveys.n_null.count
          %td= (g.num_students - g.surveys.n_not_null.count - g.surveys.n_null.count)
          - if current_user != current_object
            %td
              - semantic_form_for [g, Survey.new].compact do |form|
                - form.buttons do
                  = form.commit_button 'Start the Drake Equation'            
          -else
            %td
              = link_to 'summary', [g, :surveys]
              |
              = link_to 'edit', edit_survey_group_path(g)
              |
              = link_to 'delete', g, :method => :delete, :confirm => 'Are you sure?'

  - if my_account
    %p
      %br
      = link_to 'Add another class', new_survey_group_path


