- title "#{current_object.username}'s Profile"

- if current_user == current_object
  = partial 'user_account_header'

- if current_object.survey_groups.any?
  %h3 Groups
  %table
    %col{:width => 320}
    %col{:width => 120}
    %col{:width => 120}
    %col{:width => 120}
    %col{:width => 120}
    %col{:width => 320}
    %thead
      %tr
        %th Group / Class Name
        %th Age Group
        %th Completed Responses
        %th Incomplete Responses
        %th Total Responses
        %th Actions
    %tbody
      - current_object.survey_groups.each do |g|
        %tr
          %th= link_to g.group_name, g
          %th= h g.age_group.description
          %th= link_to g.surveys.n_not_null.count, [g, :surveys]
          %th= g.surveys.n_null.count
          %th= g.surveys.count
          - if current_user != current_object
            %th= link_to 'Add yours', new_survey_group_survey_path(g)
          -else
            %th
              = link_to 'add survey', new_survey_group_survey_path(g)
              |
              = link_to 'edit', edit_survey_group_path(g)
              |
              = link_to 'delete', g, :method => :delete, :confirm => 'Are you sure?'



