-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
.chart-set
  %h4 
    = parameter_to_drake_component parameter
    estimates by
    = demographic

  %ol.pie-charts
    - for member in dimension
      - member_key = member.nil? ? nil : member.send(dimension_key_method)
      - logger.warn "Rendering: #{data[:count].inspect} #{member_key} : #{data[:count][member_key]}"
      - unless data[:count][member_key].nil?
        %li
          %h4
            =  member.nil? ? 'Unknown' : member.send(dimension_label_method)

          %dl
            %dt Count
            %dd= data[:count][member_key]
            %dt Average
            %dd -
            %dt Median
            %dd -
            %dt Min
            %dd -
            %dt Max
            %dd -
            %dt Stdev
            %dd -

          %table.data
            %thead
              %tr
                - for option in rational_options
                  %th= option.send(option_label_method)

            %tbody
              %tr
                - for option in rational_options
                  - option_label = option.send(option_label_method).to_s
                  %td
                    - if member.nil?
                      = data[[option.send(option_value_method).to_s, nil]].to_i + data[[option.send(option_value_method), '']].to_i
                    - elsif data[:values][member_key].nil?
                      0
                    - else
                      = data[:values][member_key][option_label].to_i

