%h4 
  = parameter_to_drake_component parameter
  estimates by
  = demographic

%ol.legend
  - rational_options.each_with_index do |option, i|
    %li
      %span{ :style => "background-color: #{chart_colors[i]}"} &nbsp;
      = option.quotient_label

%ol.pie-charts
  - for member in dimension
    %li
      %h4
        = member.nil? ? 'Unknown' : member.send(dimension_label_method) 

      %dl
        %dt Total respondents
        %dd= data.select { |k,v| k[1].to_s == member.send(dimension_key_method).to_s }.map { |v| v.last }.sum
        %dt Average
        %dd 5

      %table.data
        %thead
          %tr
            - for option in rational_options
              %th= option.quotient_label

        %tbody
          %tr
            - for option in rational_options                
              %td
                - if member.nil?
                  = data[[option.id, nil]].to_i + data[[option.id, '']].to_i
                - else
                  = data[[option.id, member.send(dimension_key_method)]].to_i

