- title 'About You', 'Almost there&hellip;'

%p 
  In addition to teaching a little science, we hope to learn more about how different people around the world think about this issue. Please tell us a little about yourself so that we can compare your responses with others.
  
%p
  %em This is optional. Entering your Twitter username will allow us to associate that name and your Twitter avatar with your answer.
  
#form  
  - semantic_form_for current_object do |form|
    = hidden_field_tag :demographics, 'true'
    - form.inputs do      
      = form.input :city
      = form.input :state, :label => 'State/Province'
      = form.input :country, :as => :country, :include_blank => true
      = form.input :gender, :as => :select, :collection => ['Male', 'Female'], :include_blank => true
      = form.input :age_group_id, :label => 'Age', :as => :select, :include_blank => true, :label_method => :description
      = form.input :twitter_username
    - form.buttons do
      = form.commit_button 'Finish'
    .humanized-value
      Calculate my estimate!