-# 
  Copyright (c) 2009 Steven Hammond, Cris Necochea, Joe Lind, Jeremy Weiskotten
  
  This work is licensed under the Creative Commons Attribution 3.0 United States License.
  To view a copy of  this license, visit http://creativecommons.org/licenses/by/3.0/us/ or
  send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
  
- title Survey.title_for_parameter(:fc)
%h3= Survey.question_for_parameter(:fc)

%div.bullets
  .illustration
    = image_tag 'radio_telescope.jpg', :title => 'Three radio telescopes.'
    %span.caption Three radio telescopes. Courtesy NASA.
  %dl
    %dt.bullet
      = main_point 'Will radio be discovered?'
    %dd.detail
      %p Is it inevitable that advanced tool use leads to the discovery of radio, or did we get lucky? There are lots of communication mechanisms that don't reach out to the stars. A civilization could go far without radio. We are already moving away from radio ourselves. Cable TV and telephone wires are the dominant medium and long distance communication channels, replacing broadcast TV and two-way radios. Radio signals are now used for short range communications between wireless devices and the wired communication backbone.
      %p On the other hand, any in-depth study of another part of the electromagnetic spectrum (light, X-Rays, etc.) should eventually lead to radio.
    %dt.bullet
      = main_point 'Would they choose to communicate?'
    %dd.detail
      %p There is a tremendous amount of cultural diversity on this planet. It is easy to imagine a culture that would choose not to communicate with an alien species. It's not even clear that we would communicate with another species if the opportunity presented itself. There could be a lot at risk.
    %dt.bullet
      = main_point 'More information'
    %dd.detail
      %ul
        %li= info_link 'Electromagnetic Spectrum', 'http://imagine.gsfc.nasa.gov/docs/science/know_l1/emspectrum.html'
        %li= info_link 'History of Radio', 'http://www.fcc.gov/omd/history/radio/'
        %li= info_link 'Radio Telescopes', 'http://www.nrao.edu/index.php/learn/radioastronomy/radiotelescopes'
        
  = make_survey_prompt