- title "Frequency of Intelligence Evolving"
%h3 If life starts on a planet, how likely is intelligence to develop?

%dl
  %dt.bullet
    = main_point 'What do We Mean by Intelligence?'
  %dd.detail
    %p This parameter encompasses a big leap in complexity from single celled organisms to all the way to complex organisms capable of culture and tool use. These two things dramatically increase a species' ability to adapt. When <i>homo sapiens</i> discovered clothing, we could teach our children to make clothing and now we could adapt to any climate without waiting to evolve a fur coat or a cooling mechanism. Similarly, stone tools enabled us to adapt our diets without waiting for claws or grinding teeth.
    %p In order for this rapid adaption to work a species must have the both the ability to make the tool and the ability to teach others -- especially the next generation. That is what makes technological growth possible.
  %dt.bullet
    = main_point 'Convergent Evolution is The Key'
  %dd.detail
    %p
  %dt.bullet
    = main_point 'Convergent Examples of Intelligence'
  %dd.detail
    %p
  %dt.bullet
    = main_point 'More Information'
  %dd.detail
    %ul
      %li= info_link 'Basic Stone Tools', 'http://weber.ucsd.edu/~dkjordan/arch/tools.html'