<div class="tab-body">

<% prmtr = !params[:p] ?options[:parameter] : params[:p]%>

  <h2><%= Survey.title_for_parameter( prmtr.to_s) %></h2>
  <h3><%= Survey.question_for_parameter( prmtr.to_s )%></h3>


  
	<BR>&nbsp;<BR>&nbsp;<BR>
	<div id="ages-group" style="width: 650px; height: 300px;"></div>
	
	<BR>&nbsp;<BR>&nbsp;<BR>

	<div id="gender-group" style="width: 650px; height: 300px;"></div>

	<BR>&nbsp;<BR>&nbsp;<BR>

	<div id="all" style="width: 650px; height: 300px;"></div>

</div>

<script>

var chart_age;
$(document).ready(function() {
	
	chart_age = new Highcharts.Chart({
		chart: {
			renderTo: 'ages-group',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A'
		},
		title: {
			text: "Answers for Age Group "
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' people calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: '11 and Under',
			data: <%= Survey.report( prmtr.to_s  ,:age, 1).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '12-14',
			data: <%= Survey.report( prmtr.to_s  ,:age, 2).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '15-18',
			data: <%= Survey.report( prmtr.to_s  ,:age, 3).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '19-25',
			data: <%= Survey.report( prmtr.to_s  ,:age, 4).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '26-35',
			data: <%= Survey.report( prmtr.to_s  ,:age, 5).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '36-50',
			data: <%= Survey.report( prmtr.to_s  ,:age, 6).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '50+',
			data: <%= Survey.report( prmtr.to_s  ,:age, 7).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Unknown',
			data: <%= Survey.report( prmtr.to_s  ,:age, 0).split(',').collect{|e| e.to_i}.inspect %>
		}]
	});
	
});

var chart_gen;
$(document).ready(function() {
	
	chart_gen = new Highcharts.Chart({
		chart: {
			renderTo: 'gender-group',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A',
		},
		title: {
			text: "Answers for Gender"	//TODO fix so it is flexible
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' people calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: 'Males',
			data: <%= Survey.report(prmtr.to_s ,:gender, "Male").split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Females',
			data: <%= Survey.report(prmtr.to_s ,:gender, "Female").split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Unknown',
			data: <%= Survey.report(prmtr.to_s ,:gender, '').split(',').collect{|e| e.to_i}.inspect %>
		
		}]
	});
	
});

var chart_all;
$(document).ready(function() {
	chart_all = new Highcharts.Chart({
		chart: {
			renderTo: 'all',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A'
		},
		title: {
			text: 'All Users'
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' people calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: 'all',
			data: <%= Survey.report(prmtr.to_s ,:all, '').split(',').collect{|e| e.to_i}.inspect %>
		}]
	});
	
});





</script>