<div class="tab-body">


<% prmtr = !params[:p] ?options[:parameter] : params[:p]%>

<% javascript_tag do %>
      var my_param = '<%= !params[:p] ?options[:parameter] : params[:p]%>'
<% end %>

  <h2><%= Survey.title_for_parameter( prmtr.to_s) %></h2>
  <h3><%= Survey.question_for_parameter( prmtr.to_s )%></h3>


  
  
	<BR>&nbsp;<BR>&nbsp;<BR>
	
	<label for "age">Show age:</label>
	<%=
		@ageGroups = AgeGroup.find(:all).map {|e| [ e.description, e.id]}
		@ageGroups << ['Unknown', nil]
		@selected_ageGroup = @ageGroups[5][1]
		select('age',:description, @ageGroups, :selected=>5, :onclick => "requestData( prmtr, 'age');")
		
	%>
	<div id="ages-group" style="width: 650px; height: 300px;"></div>
	
	<BR>&nbsp;<BR>&nbsp;<BR>
	
	 <label >Show gender:</label>
	  <select id="gender" onclick="requestData( prmtr, gender.selected); " >
	  <option disabled="disabled">Choose:</option>
		<option value="Male" selected="selected">Male</option>
		<option value="Female">Female</option>
		<option value="Unknown" >Unknown</option>
	  </select>

	<div id="gender-group" style="width: 650px; height: 300px;"></div>

	<BR>&nbsp;<BR>&nbsp;<BR>

	<div id="all" style="width: 650px; height: 300px;"></div>
	
	<div id="container" style="width: 650px; height: 300px;"></div>

</div>

<script>

var chart_age;
$(document).ready(function() {
	
	chart_age = new Highcharts.Chart({
		chart: {
			renderTo: 'ages-group',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A'
			events:{
				load:requestData(my_param,'age_group_id')
			}
		},
		title: {
			text: "Answers for Age Group "
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: '11 and under',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 1).split(',').collect{|e| e.to_i}.inspect %>
		
		},{
			name: '12-14',
			data: <%= Survey.new_report( prmtr.to_s , 'age_group_id', 2).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '15-18',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 3).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '19-25',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 4).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '26-35',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 5).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '36-50',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 6).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: '50+',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 7).split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Unknown',
			data: <%= Survey.new_report( prmtr.to_s  ,'age_group_id', 0).split(',').collect{|e| e.to_i}.inspect %>
		}]
	});
	
});

var chart_gen;
$(document).ready(function() {
	
	chart_gen = new Highcharts.Chart({
		chart: {
			renderTo: 'gender-group',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A',
			events:{
				load:requestData
			}
		},
		title: {
			text: "Answers for Gender"	
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: 'Males',
			data: <%= Survey.new_report(prmtr.to_s ,'gender', "Male").split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Females',
			data: <%= Survey.new_report(prmtr.to_s ,'gender', "Female").split(',').collect{|e| e.to_i}.inspect %>
		},{
			name: 'Unknown',
			data: <%= Survey.new_report(prmtr.to_s ,'gender', NIL).split(',').collect{|e| e.to_i}.inspect %>
		
		}]
	});
	
});

var chart_all;
$(document).ready(function() {
	chart_all = new Highcharts.Chart({
		chart: {
			renderTo: 'all',
			defaultSeriesType: 'column',
			backgroundColor: '#0A0A0A'
		},
		title: {
			text: 'All Users'
		},
		xAxis: {
			categories: ['1-9', '10-99', '100-999', '1000-9999']
		},
		yAxis: {
			title: {
				text: 'Number of Responses'
			}
		},
		tooltip:{
			formatter: function(){
				return ' ' +this.y +' calculated ' + this.x+ ' stars';
			}
		},
		series: [{
			name: 'all',
			data: <%= Survey.new_report(prmtr.to_s ,:all, '').split(',').collect{|e| e.to_i}.inspect %>
		}]
	});
	
});


function requestData(my_param, whichDim){
	$.ajax({
		url:	'surveys/refresh?p=my_param&aog=whichDim',
	
		success:  function(data){
			if (whichDim == 'age_group_id')
				chart_age.series[0] = data;
			else
				chart_gen.series[0] = data;
		},
		cache:	false
	
	});
}


	
	


</script>