:javascript
  $(function(){
    $('.bullets dd.detail').hide();
    
    $('dt.bullet a').click(function(e){
      $(this).parent().next().slideToggle();
      e.preventDefault();
    });
  })

- if @parameter == 'demographics'
  = partial 'demographics'

- else
  #parameter-symbol
    = parameter_to_drake_component(@parameter)

  = partial @parameter

  - if current_object.present?
    = partial 'parameter_form', :parameter => @parameter
  
  #comments
    %h3 Discussion
    = partial '/shared/disqus'
