:javascript
  $(function(){
    $('dt.bullet a').click(function(e){
      $(this).parent().next().slideToggle();
      e.preventDefault();
    });
  })

#parameter-symbol
  = parameter_to_drake_component(@parameter)

= partial @parameter

- if current_object.present?
  = partial 'parameter_form', :parameter => @parameter
- else
  = partial 'shared/survey_prompt'
  
#comments
  %h3 Discussion
  = partial '/shared/disqus'
