- title 'Results'
- summarize_parameter = params[:p] || 'n'

%p
  - if parent?
    = parent_object.group_name
    /= link_to parent_object.group_name, parent_object

.vertical-tabs
  %ol.tabs
    - for parameter in ([:n] + Survey.parameter_columns)
      %li
        %a{ :class => (parameter.to_s == summarize_parameter) ? 'yah' : '', :href => url_for(:p => parameter) }
          = parameter_to_drake_component parameter

  .tab-body
    %h2= Survey.title_for_parameter(summarize_parameter)
    %h3= Survey.question_for_parameter(summarize_parameter)
  
    .all-responses
    
    .columns
      .column
        = chart summarize_parameter.to_sym, :age

      .column.legend
        - options = chart_options(summarize_parameter, :age)
        %ol.legend
          - options[:rational_options].each_with_index do |option, i|
            %li
              %span{ :style => "background-color: #{chart_colors(summarize_parameter)[i]}"} &nbsp;
              = option.send(options[:option_label_method])

      .column
        = chart summarize_parameter.to_sym, :gender


:javascript
  $(function() {
    $('table.data').visualize({type: 'pie', colors: #{chart_colors(summarize_parameter).to_json}, width: 75, height: 75, pieMargin: 5, pieLabelPos: 'inside', parseDirection: 'y', });
  });
