- title 'Results'

%p
  - if parent?
    = parent_object.group_name
    /= link_to parent_object.group_name, parent_object


= chart :n, :age
= chart :n, :gender
- for parameter in Survey.parameter_columns
  = chart parameter, :age
  = chart parameter, :gender


:javascript
  $(function() {
    $('table.data').visualize({type: 'pie', colors: #{chart_colors.to_json}, width: 75, height: 75, pieMargin: 5, pieLabelPos: 'inside', parseDirection: 'y', });
  });
