- title "Your results: N = #{current_object.n}"
%ul.n-results
  %li
    %dl
      %dt
        = drake_number
      %dd
        == #{pluralize current_object.n, 'civlization'} currently exist in our galaxy
  - Survey.parameter_columns.each do |parameter|
    %li
      %dl
        %dt
          =parameter_to_drake_component parameter
        %dd
          = current_object.send("#{parameter}_rational").send("#{parameter}_label")

= link_to 'See your answers in context!', surveys_path
%p
  Spread the word:
%p.tweet-result
  %a{:href => "http://www.twitter.com/home?status=I+found+#{current_object.n}+alien+civilzations+at+http://quest-for-life.org", :target => "_new"}
    = image_tag 'twitter_logo.png', :alt => '', :size => '80x18' 
    Post your result to your 
    %strong Twitter account