- title "Your results: N = #{current_object.n}"
%ul.n-results
  %li
    %dl
      %dt
        = drake_number
      %dd
        == #{pluralize current_object.n, 'civilization'} currently exist in our galaxy
  - Survey.parameter_columns.each do |parameter|
    %li
      %dl
        %dt
          =parameter_to_drake_component parameter
        %dd
          = current_object.send("#{parameter}_rational").send("#{parameter}_label")

%br

%p
  = link_to "See how others answered these questions&hellip;", surveys_path

- if @survey.id == session[:survey_id]
  %p.tweet-result
    %a{:href => "http://twitter.com/home?status=I+found+#{current_object.n}+alien+civilizations+at+http://quest-for-life.org/surveys/#{@survey.slug}", :target => "_new"}
      = image_tag 'twitter_logo.png', :alt => '', :size => '80x18' 
      %strong Help spread the word.
      Post your result to Twitter.
- else
  = partial 'shared/survey_prompt'
