%p.menu
  |
  = link_to 'Home', root_path
  |
  = link_to 'About', '/home/about'
  |
  = link_to 'Privacy', '/home/privacy'
  |
  = link_to 'Credit', '/home/credits'
  |
  = link_to 'IYA 2009', 'http://astronomy2009.org', :target => '_blank'
  |
  = link_to 'Rails Rumble', 'http://r09.railsrumble.com/', :target => '_blank'
  |