!!!Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en'}
  %head
    %title= [Settings.app_name, yield(:title)].compact.join(' - ')
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag 'compiled/main', 'compiled/screen'
    = stylesheet_link_tag 'redmond/jquery-ui-1.7.1.custom'
    = stylesheet_link_tag 'ui.slider.extras'
    = javascript_include_tag 'jquery-1.3.2.min.js'
    = javascript_include_tag 'jquery-ui-1.7.1.custom.min.js'
    = javascript_include_tag 'selectToUISlider.jQuery.js'
    = javascript_include_tag 'application'
    
  %body{:lang => 'en'}
    #page
      %h1
        %a{:href => '/'}= Settings.app_name
      #header
        #main-nav
          = render :partial => '/home/equation'
      
      #content
        %h2= yield :title
    
        - if flash.any?
          #flash
            - flash.keys.each do |key|
              %div{ :class => key }= flash[key]
    
        = yield
    
      #footer
        %p
          == Copyright &copy; #{Date.today.year}.
