!!!Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en'}
  %head
    %title= [Settings.app_name, yield(:title)].compact.join(' - ')
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag 'compiled/main.css', 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/partials/_base.css'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'qfl/jquery-ui-1.7.2.custom.css'
    = stylesheet_link_tag 'ui.slider.extras'
    = javascript_include_tag 'jquery-1.3.2.min.js'
    = javascript_include_tag 'jquery-ui-1.7.1.custom.min.js'
    = javascript_include_tag 'selectToUISlider.jQuery.js'
    = javascript_include_tag 'application'
    
  %body{:lang => 'en'}
    #page
      .banner
        %h1
          %a{:href => '/'}= Settings.app_name
         
      #header
        #main-nav
          %blockquote
            %p
              %a{:href => 'http://astronomy2009.org/', :target => "_blank"}
                The Universe: Yours to discover. International Year of Astronomy 2009
          
          = render :partial => '/home/equation'
      
      #content
        %h2= yield :heading
    
        - if flash.any?
          #flash
            - flash.keys.each do |key|
              %div{ :class => key }= flash[key]
    
        = yield
    
      #footer
        %p
          == Copyright &copy; #{Date.today.year}.
